{% extends 'base.html.twig' %}

{% block body %}
    <section id="step-two" class="" style="background-color: black;">
        <div class="container">
            <h1 class="h1 text-center pt-4 text-white font-bold">
                {{ 'app_identity_expert_step_two.title'|trans }}
            </h1>
            {{ form_start(form, {'attr': {'class': 'form-inline' }}
            ) }}
                    
            <div class="row text-white">
                <div class="col-md-6 offset-md-3">
                    <hr class="my-2 mb-4">

                        <div class="row mb-4">
                            {{ form_label(form.expert.title) }}
                            <div class="col-sm-8">
                                {{ form_widget(form.expert.title, {'attr': {'class': 'rounded-pill' }}
                                ) }}
                                                    
                            </div>
                        </div>

                        <div class="row mb-4">
                            {{ form_label(form.expert.aspiration) }}
                            <div class="col-sm-8">
                                {{ form_widget(form.expert.aspiration, {'attr': {'class': 'rounded' }}
                                ) }}
                                                    
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-sm-4">
                                {{ form_label(form.expert.sectors) }}
                            </div>
                            <div class="col-sm-8">
                                {{ form_widget(form.expert.sectors, {'attr': {'required': 'required' }}
                                ) }}                                                    
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-6 offset-md-3">
                    <div class="row mb-4">
                        <div class="col-md-4 text-center">
                            {{ 'app_identity_expert_step_two.experience.name'|trans }}
                        </div>
                        <div class="col-md-5">
                            <div {{ stimulus_controller('form-collection') }} data-form-collection-index-value="{{ form.experiences|length > 0 ? form.experiences|last.vars.name + 1 : 0 }}" data-form-collection-prototype-value="{{ form_widget(form.experiences.vars.prototype)|e('html_attr') }}">
                                <!-- Modal -->
                                <div class="modal fade" id="experience" tabindex="-1" aria-labelledby="experienceLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content text-black">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-2" id="experienceLabel">
                                                    {{ 'app_identity_expert_step_two.experience.add'|trans }}
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <ul {{ stimulus_target('form-collection', 'collectionContainer') }}></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-light rounded-pill small w-100" data-bs-toggle="modal" data-bs-target="#experience" type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>
                                    <i class="h5 bi mx-1 bi-plus"></i>
                                    {{ 'app_identity_expert_step_two.experience.add'|trans }}
                                </button>
                            </div>
                        </div>
                        <div class="col-md-3 text-end">
                            <button class="btn btn-light rounded-pill small" data-bs-toggle="modal" data-bs-target="#experiencesPreview" type="button">
                                {{ 'app_identity_expert_step_two.experience.view'|trans }}
                                <i class="h5 bi mx-1 bi-eye"></i>
                            </button>
                        </div>
                    </div>
                </div>



                <div class="col-md-6 offset-md-3">
                    <div class="row mb-4">
                        <div class="col-md-4 text-center">
                            {{ 'app_identity_expert_step_two.formation.name'|trans }}
                        </div>
                        <div class="col-md-5">
                            <div {{ stimulus_controller('form-collection') }} data-form-collection-index-value="{{ form.formations|length > 0 ? form.formations|last.vars.name + 1 : 0 }}" data-form-collection-prototype-value="{{ form_widget(form.formations.vars.prototype)|e('html_attr') }}">

                                <!-- Modal -->
                                <div class="modal fade" id="formations" tabindex="-1" aria-labelledby="formationsLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content text-black">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-2" id="formationsLabel">
                                                    {{ 'app_identity_expert_step_two.formation.add'|trans }}
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <ul {{ stimulus_target('form-collection', 'collectionContainer') }}></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-light rounded-pill small w-100" data-bs-toggle="modal" data-bs-target="#formations" type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>
                                    <i class="h5 bi mx-1 bi-plus"></i>
                                    {{ 'app_identity_expert_step_two.formation.add'|trans }}
                                </button>
                            </div>
                        </div>
                        <div class="col-md-3 text-end">
                            <button class="btn btn-light rounded-pill small" data-bs-toggle="modal" data-bs-target="#formationsPreview" type="button">
                                {{ 'app_identity_expert_step_two.formation.view'|trans }}
                                <i class="h5 bi mx-1 bi-eye"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 offset-md-3">
                    <div class="row mb-4">
                        <div class="col-md-4 text-center">
                            {{ 'app_identity_expert_step_two.skill.name'|trans }}
                        </div>
                        <div class="col-md-5">
                            <div {{ stimulus_controller('form-collection') }} data-form-collection-index-value="{{ form.technicalSkills|length > 0 ? form.technicalSkills|last.vars.name + 1 : 0 }}" data-form-collection-prototype-value="{{ form_widget(form.technicalSkills.vars.prototype)|e('html_attr') }}">
                                <!-- Modal -->
                                <div class="modal fade" id="technicalSkill" tabindex="-1" aria-labelledby="technicalSkillLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content text-black">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-2" id="technicalSkillLabel">
                                                    {{ 'app_identity_expert_step_two.skill.add'|trans }}
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <ul {{ stimulus_target('form-collection', 'collectionContainer') }}></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-light rounded-pill small w-100" data-bs-toggle="modal" data-bs-target="#technicalSkill" type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>
                                    <i class="h5 bi mx-1 bi-plus"></i>
                                    {{ 'app_identity_expert_step_two.skill.add'|trans }}
                                </button>
                            </div>
                        </div>
                        <div class="col-md-3 text-end">
                            <button class="btn btn-light rounded-pill small" data-bs-toggle="modal" data-bs-target="#skillsPreview" type="button">
                                {{ 'app_identity_expert_step_two.skill.view'|trans }}
                                <i class="h5 bi mx-1 bi-eye"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 offset-md-3">
                    <div class="row mb-4">
                        <div class="col-md-4 text-center">
                            {{ 'app_identity_expert_step_two.language.name'|trans }}
                        </div>
                        <div class="col-md-5">
                            <div {{ stimulus_controller('form-collection') }} data-form-collection-index-value="{{ form.languages|length > 0 ? form.languages|last.vars.name + 1 : 0 }}" data-form-collection-prototype-value="{{ form_widget(form.languages.vars.prototype)|e('html_attr') }}">
                                <!-- Modal -->
                                <div class="modal fade" id="language" tabindex="-1" aria-labelledby="languageLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content text-black">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-2" id="languageLabel">
                                                    {{ 'app_identity_expert_step_two.language.add'|trans }}
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <ul {{ stimulus_target('form-collection', 'collectionContainer') }}></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-light rounded-pill small w-100" data-bs-toggle="modal" data-bs-target="#language" type="button" {{ stimulus_action('form-collection', 'addCollectionElement') }}>
                                    <i class="h5 bi mx-1 bi-plus"></i>
                                    {{ 'app_identity_expert_step_two.language.add'|trans }}
                                </button>
                            </div>
                        </div>
                        <div class="col-md-3 text-end">
                            <button class="btn btn-light rounded-pill small " data-bs-toggle="modal" data-bs-target="#languagesPreview" type="button">
                                {{ 'app_identity_expert_step_two.language.view'|trans }}
                                <i class="h5 bi mx-1 bi-eye"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 offset-md-3">
                        <div class="row mb-4">
                            {{ form_label(form.expert.cv) }}
                            <div class="col-sm-8">
                                {{ form_widget(form.expert.cv, {'attr': {'class': 'rounded-pill' }}
                                ) }}
                                                    
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display:none;">
                    {{ form_widget(form) }}
                </div>
                <hr class="my-4">
                <div class="d-flex justify-content-center">
                    <a href="{{ path('app_identity_expert_step_one')}}" id="cancel" class="btn btn-outline-dark rounded-pill mx-2">
                        {{ 'app_identity_expert_step_two.cancel'|trans }}
                    </a>
                    <button type="submit" id="submitForm" class="btn btn-primary rounded-pill mx-2" onclick="submitFormAndRedirect()">
                        {{ 'app_identity_expert_step_two.button'|trans }}
                    </button>
                </div>
                <hr class="my-4">
                {{ form_end(form) }}
                <div class="col-md-6 offset-md-4 text-white">
                    {% include "dashboard/_inner_footer_light.html.twig" %}
                </div>
            </div>
        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="experiencesPreview" tabindex="-1" aria-labelledby="experiencesPreviewLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content text-black">
                <div class="modal-header">
                    <h1 class="modal-title fs-2" id="experiencesPreviewLabel">
                        {{ 'app_identity_expert_step_two.experience.all'|trans }}
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                {% if experiences is not empty %}
                    {% for experience in experiences %}
                        <p class="text-dark small d-flex justify-content-between align-items-center mb-0">
                            <span>
                            <strong>{{ experience.title }}</strong>
                            | 
                            <strong>{{ experience.company }}</strong>
                            | 
                            {{ date_difference(experience.endDate, experience.startDate) }}
                        </span>
                            <button class="btn btn-sm btn-dark rounded-circle p-1 lh-1" type="button" data-id="js-remove" data-href="/ajax-remove-experience/{{ experience.id }}/{{ user.identity.id }}">
                                <i class="bi bi-trash"></i>
                            </button>
                        </p>
                        <p class="text-dark small d-flex justify-content-between align-items-left">
                            {{ experience.description|raw }}
                        </p>
                    {% endfor %}
                {% else %}
                    <p class="text-dark small">
                        Aucune 
                    </p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="formationsPreview" tabindex="-1" aria-labelledby="formationsPreviewLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content text-black">
                <div class="modal-header">
                    <h1 class="modal-title fs-2" id="formationsPreviewLabel">
                        {{ 'app_identity_expert_step_two.formation.all'|trans }}
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                {% if formations is not empty %}
                    {% for formation in formations %}
                    <p class="text-dark small d-flex justify-content-between align-items-center mb-0">
                        <span>
                        <strong>{{ formation.title }}</strong>
                        | 
                        <strong>{{ formation.level }}</strong>
                        | 
                        {{ formation.endDate|date('Y') }}
                    </span>
                        <button class="btn btn-sm btn-dark rounded-circle p-1 lh-1" type="button" data-id="js-remove" data-href="/ajax-remove-experience/{{ formation.id }}/{{ user.identity.id }}">
                            <i class="bi bi-trash"></i>
                        </button>
                    </p>
                    <p class="text-dark small d-flex justify-content-between align-items-left">
                        {{ formation.description|raw }}
                    </p>
                    {% endfor %}
                {% else %}
                    <p class="text-dark small">
                        Aucune 
                    </p>
                {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="skillsPreview" tabindex="-1" aria-labelledby="skillsPreviewLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content text-black">
                <div class="modal-header">
                    <h1 class="modal-title fs-2" id="skillsPreviewLabel">
                        {{ 'app_identity_expert_step_two.skill.all'|trans }}
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if technicalSkills is not empty %}
                        {% for technicalSkill in technicalSkills %}
                            <p class="text-dark small d-flex justify-content-between align-items-center">
                                {{ technicalSkill.name }}
                                <span class="d-flex align-items-center">
                                    <span class="mx-4 p-1 lh-1">
                                        {% for i in 1..5 %}
                                            {% if i <= technicalSkill.type %}
                                                <i class="small bi bi-star-fill text-warning"></i>
                                            {% else %}
                                                <i class="small bi bi-star text-dark"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                    
                                    <button class="btn btn-sm btn-dark rounded-circle p-1 lh-1" type="button">
                                        <i class="bi bi-trash"></i>
                                    </button> 
                                </span>
                            
                            </p>
                        {% endfor %}
                    {% else %}
                        <p class="text-light small">
                            Aucune 
                        </p>
                    {% endif %}                
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="languagesPreview" tabindex="-1" aria-labelledby="languagesPreviewLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content text-black">
                <div class="modal-header">
                    <h1 class="modal-title fs-2" id="languagesPreviewLabel">
                        {{ 'app_identity_expert_step_two.language.all'|trans }}
                    </h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if languages is not empty %}
                        {% for language in languages %}
                            <p class="text-dark small d-flex justify-content-between align-items-center">
                                {{ language.language }}
                                <span class="d-flex align-items-center">
                                    <span class="mx-4 p-1 lh-1">
                                        {% for i in 1..5 %}
                                            {% if i <= language.level %}
                                                <i class="small bi bi-star-fill text-warning"></i>
                                            {% else %}
                                                <i class="small bi bi-star text-dark"></i>
                                            {% endif %}
                                        {% endfor %}
                                    </span>
                                    
                                    <button class="btn btn-sm btn-dark rounded-circle p-1 lh-1" type="button">
                                        <i class="bi bi-trash"></i>
                                    </button> 
                                </span>                            
                            </p>
                        {% endfor %}
                    {% else %}
                        <p class="text-light small">
                            Aucune 
                        </p>
                    {% endif %}                
                </div>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

    $('#experience').on('shown.bs.modal', function () {
        for (let i = 0; i < 10; i++) {  // Ici, j'utilise 10 comme exemple, ajustez selon le nombre d'éléments que vous avez
            const $currentlyCheckbox = $(`#step_two_experiences_${i}_currently`);
            const $endDateFieldContainer = $(`#step_two_experiences_${i}_endDate`).closest('div');
    
            if (!$currentlyCheckbox.length) {
                // Si le checkbox n'existe pas, on sort de la boucle
                break;
            }
    
            if ($currentlyCheckbox.is(':checked')) {
                $endDateFieldContainer.parent().hide();
            }
    
            $currentlyCheckbox.off('change').change(function() {
                if ($(this).is(':checked')) {
                    $endDateFieldContainer.parent().hide();
                } else {
                    $endDateFieldContainer.show();
                }
            });
        }
    });    

    $('#formations').on('shown.bs.modal', function () {
        for (let i = 0; i < 10; i++) {  // Ici, j'utilise 10 comme exemple, ajustez selon le nombre d'éléments que vous avez
            const $currentlyCheckbox = $(`#step_two_formations_${i}_currently`);
            const $endDateFieldContainer = $(`#step_two_formations_${i}_endDate`).closest('div');
    
            if (!$currentlyCheckbox.length) {
                // Si le checkbox n'existe pas, on sort de la boucle
                break;
            }
    
            if ($currentlyCheckbox.is(':checked')) {
                $endDateFieldContainer.parent().hide();
            }
    
            $currentlyCheckbox.off('change').change(function() {
                if ($(this).is(':checked')) {
                    $endDateFieldContainer.hide();
                } else {
                    $endDateFieldContainer.show();
                }
            });
        }
    });    

    document.addEventListener("DOMContentLoaded", function() {
        var modalIds = ['experience', 'formations', 'language', 'technicalSkill'];

        modalIds.forEach(function(modalId) {
            $('#' + modalId).on('hidden.bs.modal', function () {
                $(this).find('ul[data-form-collection-target="collectionContainer"]').empty();
            });
        });
    });


</script>
{% endblock %}
            