{% extends 'base.html.twig' %}

{% block body %}

<section id="experts" class="" style="background-color: black;">
    <div class="container h-100 d-flex flex-column justify-content-center">
        <div class="row">
            <h1 class="h3 text-center py-4 text-white font-bold">
                {{ 'app_home_experts.title'|trans }}
            </h1>
            <div class="row row-cols-1 row-cols-md-4 g-4">
            {% for identity in experts %}
                <a href="{{ path('app_catalog_expert', {'username': identity.username}) }}">
                <div class="col">
                    <div class="card  bg-dark p-2">
                        <div class="row">
                            <div class="col-5 ">
                                <img src="{{vich_uploader_asset(identity, 'file')}}" class="card-img-top rounded-circle border border-primary" alt="{{ identity.user.firstName }}">
                            </div>
                            <div class="col-6">
                                <p class="card-title text-white h5 mt-2">{{ identity.user.firstName }} {{ identity.user.lastName|slice(0, 1)|upper }}.</p>
                                {% for lang in identity.languages %}
                                {{ isoToEmoji(lang.code) }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <p class="card-title text-white"><small>Eum architecto ipsum commodi officia aut qui enim. Ea non quia quia qui amet nulla. Perferendis quo qui labore iure ...</small></p>
                                <small class="text-warning"><i class="mx-1 bi bi-trophy"></i> {{ identity.experiences|length }} {{ 'app_catalog_expert.realised'|trans }}</small><br>
                                <small class="text-warning"><i class="mx-1 bi bi-patch-check"></i> {{ 'app_catalog_expert.certificated'|trans }}</small>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            {% endfor %}
            </div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</section>

{% endblock %}
