<section id="candidates" class="" style="background-color: white;">
    <div class="container-fluid">
        <div class="row">
            <h2 class="text-black text-center my-5 w-100 display-2 text-strong">{{ 'app_home.section.candidates.h2'|trans }}</h2>
            
            <div class="container-fluid">
                <div class="row row-cols-1 row-cols-md-4 g-2">
                    {% for identity in topRanked %}
                        {{ component('expert_component', { id: identity.expert.id})}}
                    {% endfor %}
                </div>
            </div>
            <hr class="my-5">
            {{ component('carousel_expert_component') }}
        </div>
        <p class="d-flex flex-column flex-sm-row justify-content-center cta-group">  
            <span class="my-5"><a href="{{ path('app_login')}}" class="btn btn-sm btn-outline-dark text-uppercase px-4 py-2 mx-4 rounded-pill">{{ 'app_home_experts.see_all'|trans }}</a></span>
        </p>
    </div>
</section>