{% extends 'dashboard/layout.html.twig' %}

{% block body %}
{# 
<h1 class="mb-3">{{ 'app_dashboard_company_profile.title'|trans }}</h1> 
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">

{% for identity in experts %}
<a href="{{ path('app_catalog_expert', {'username': identity.username}) }}">
    <div class="col">
        <div class="card">
            <img src="{{vich_uploader_asset(identity, 'file')}}" class="card-img-top" alt="{{ identity.user.firstName }}">
            <div class="card-body">
                <p class="card-title h6">{{ identity.user.firstName }} {{ identity.user.lastName|slice(0, 1)|upper }}.</p>
                <small>
                    <small class="card-text">{{ identity.expert.title }}</small><br>
                    <small class="card-text"><i class="mx-1 bi bi-trophy"></i> {{ identity.experiences|length }} {{ 'app_catalog_expert.realised'|trans }}</small><br>
                    <small class="card-text"><i class="mx-1 bi bi-patch-check"></i> {{ 'app_catalog_expert.certificated'|trans }}</small>
                </small>
            </div>
        </div>
    </div>
</a>

{% endfor %}
</div> #}
<div class="row text-dark">
<p>
    <i class="h5 bi mx-2 bi-plus-lg"></i> 
    {{ 'app_dashboard_company_profile.get_started'|trans }} 
</p>
{{ form_start(form, {'attr': {'class': 'form-group mb-5 px-5'}}) }}
    <div class="input-group">
        {{ form_widget(form.query, {'attr': {'class': 'form-control'}}) }}
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </div>
    </div>
{{ form_end(form) }}


{% for item in experts %}
    <div class="row five-cols">
        <div class="col custom-col col-2-25 image-container">
            <img src="{{vich_uploader_asset(item.identity, 'file')}}" class="img-fluid img-border" alt="{{ item.identity.user.firstName }}">
        </div>
        <div class="col custom-col col-5-25">
            <small class="h6">{{ item.identity.user.firstName }} {{ item.identity.user.lastName|slice(0, 1)|upper }}. <i class="h6 bi mx-2 bi-circle-fill small text-green"></i></small><br>
            <small class="card-text"><i class="mx-1 bi bi-patch-check"></i> {{ 'app_catalog_expert.certificated'|trans }}</small>
        </div>
        <div class="col custom-col col-5-25">{{ item.title }}</div>
        <div class="col custom-col col-5-25">
            <small class="text-dark small">{{ experience_text(item.years) }} d'expérience </small><br>
            <small class="text-dark "><i class="mx-1 bi bi-trophy"></i> {{ item.identity.experiences|length }} {{ 'app_catalog_expert.realised'|trans }}</small>
        </div>
        <div class="col custom-col col-5-25 small">
            {{ show_country(item.country) }}<br>
            <small class="text-dark small">Télétravail</small>
        </div>
        <div class="col custom-col col-3-25">
            <div class="flex items-center">
                {% for i in 1..5 %}
                    {% if i <= 5 %}
                    <i class="small bi bi-star-fill text-warning"></i>
                    {% else %}
                    <i class="small bi bi-star text-dark"></i>
                    {% endif %}
                {% endfor %}    
            </div>
        </div>
    </div>
    <hr>
{% endfor %}

<div class="row mt-1 text-dark">
    {% include "components/carousel/_experts.html.twig" with {
        'experts': expertsDefault,
        'title': 'app_dashboard_company_profile.recommanded'|trans,
    } %}
</div>
<p class="">
    <div class="d-flex gap-2 ">
    <span class="h5">
        <i class="h5 bi mx-2 bi-stars"></i> 
        {{ 'app_dashboard_company_profile.catalog'|trans }}    
    </span> 
  </div>
</p>
{% for item in expertsAll %}
    <div class="row five-cols">
        <div class="col custom-col col-2-25 image-container">
            <img src="{{vich_uploader_asset(item, 'file')}}" class="img-fluid img-border" alt="{{ item.user.firstName }}">
        </div>
        <div class="col custom-col col-5-25">
            <small class="h6">{{ item.user.firstName }} {{ item.user.lastName|slice(0, 1)|upper }}. <i class="h6 bi mx-2 bi-circle-fill small text-green"></i></small><br>
            <small class="card-text"><i class="mx-1 bi bi-patch-check"></i> {{ 'app_catalog_expert.certificated'|trans }}</small>
        </div>
        <div class="col custom-col col-5-25">{{ item.expert.title }}</div>
        <div class="col custom-col col-5-25">
            <small class="text-dark small">{{ experience_text(item.expert.years) }} d'expérience </small><br>
            <small class="text-dark "><i class="mx-1 bi bi-trophy"></i> {{ item.experiences|length }} {{ 'app_catalog_expert.realised'|trans }}</small>
        </div>
        <div class="col custom-col col-5-25 small">
            {{ show_country(item.expert.country) }}<br>
            <small class="text-dark small">Télétravail</small>
        </div>
        <div class="col custom-col col-3-25">
            <div class="flex items-center">
                {% for i in 1..5 %}
                    {% if i <= 5 %}
                    <i class="small bi bi-star-fill text-warning"></i>
                    {% else %}
                    <i class="small bi bi-star text-dark"></i>
                    {% endif %}
                {% endfor %}    
            </div>
        </div>
    </div>
    <hr>
{% endfor %}
</div>
{% endblock %}