{% extends 'dashboard/layout.html.twig' %}
{% block sidebar %} {% include "dashboard/_sidebar_expert.html.twig" %} {% endblock %}

{% block body %}

<div class="container mt-3">
    <div class="row text-dark">
        <p>
            <i class="h5 bi mx-2 bi-plus-lg"></i> 
            {{ 'app_dashboard_expert.get_started'|trans }} 
        </p>
        {{ form_start(form, {'attr': {'class': 'form-group mb-5 px-5'}}) }}
        <div class="input-group">
            {{ form_widget(form.query, {'attr': {'class': 'form-control'}}) }}
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Rechercher</button>
            </div>
        </div>
        {{ form_end(form) }}
        <p class="h4 mt-3">
            <i class="h4 bi mx-2 bi-stars"></i> 
            {{ 'app_dashboard_expert.recommanded'|trans }} 
        </p>
        <p class="fs-7">
            {{ 'app_dashboard_expert.recommanded_posting'|trans }} 
        </p>
        {% for posting in recomanded_postings %}            
            {{ component('dashboard_posting_component', {id: posting.id})}}
        {% endfor %}
        <p class="h4 mt-3">
            <i class="h4 bi mx-2 bi-stars"></i> 
            {{ 'app_dashboard_expert.catalog_posting'|trans }} 
            <span class="h6" id="badgesContainer">
            {% if words is defined and words|length > 0 %}
                {% for word in words %}
                    {% if word|trim != "" %}
                        <span class="badge bg-primary">
                            {{ word }}
                            <a href="#" class="remove-badge text-white" data-word="{{ word }}">×</a>
                        </span>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </span>
        </p>
        <hr>

        {% for posting in postings %}

            {{ component('table_posting_component', {id: posting.id}) }}
            
        {% endfor %}
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('.remove-badge').on('click', function(e) {
            e.preventDefault();
            let wordToRemove = $(this).data('word');
    
            $(this).parent().remove();
    
            let currentSearchValue = $('#posting_search_query').val();
            let newSearchValue = currentSearchValue.replace(wordToRemove, '').trim();
            $('#posting_search_query').val(newSearchValue);
            $(this).closest('.badge').remove();
        });
    });
</script>
{% endblock %}
{% block inner_footer %}{% include "dashboard/_inner_footer.html.twig" %}{% endblock %}