{% extends 'dashboard/layout.html.twig' %}

{% block body %}

<div class="container mt-3">
    <div class="row text-dark">
        <p>
            <i class="h5 bi mx-2 bi-plus-lg"></i> 
            {{ 'app_dashboard_company.get_started'|trans }} 
            <a href="{{ path('app_dashboard_company_posting_new') }}" class="mx-2 btn btn-dark">{{ 'app_dashboard_company.publish'|trans }}</a>
        </p>
        <hr>
        <p class="h6">
            <i class="h5 bi mx-2 bi-newspaper"></i> 
            {{ 'app_dashboard_company.optimize'|trans }} 
        </p>
    </div>
    <div class="row mt-3">
        <div class="col-lg-6">
            <h3 class="h4 mx-2 text-center">{{ 'app_dashboard_company.posting.publish'|trans }}</h3> 
            <div class="d-flex flex-column flex-md-row mt-2 gap-4 py-md-3 align-items-center justify-content-center">
                <div class="list-group">
                    {% for item in postingsOk %}
                    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                        <i class="bi h5 bi-code-slash"></i>
                        <div class="d-flex gap-2 w-100 justify-content-between small">
                            <div>
                            <h5 class="mb-0 h6">{{ item.title}}</h5>
                            <p class="mb-0 opacity-75">{{ item.description|length > 120 ? item.description|slice(0, 117) ~ '...' : item.description }}</p>
                            </div>
                            <small class="opacity-50 text-nowrap">now</small>
                        </div>
                    </a>                        
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h3 class="h4 mx-2 text-center">{{ 'app_dashboard_company.posting.refused'|trans }}</h3> 
            <div class="d-flex flex-column flex-md-row mt-2 gap-4 py-md-3 align-items-center justify-content-center">
                <div class="list-group">
                {% for item in postingsFail %}
                <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <i class="bi h5 bi-code-slash"></i>
                    <div class="d-flex gap-2 w-100 justify-content-between small">
                        <div>
                        <h5 class="mb-0 h6">{{ item.title}}</h5>
                        <p class="mb-0 opacity-75">{{ item.description|length > 120 ? item.description|slice(0, 117) ~ '...' : item.description }}</p>
                        </div>
                        <small class="opacity-50 text-nowrap">now</small>
                    </div>
                </a>                        
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-1 text-center">
        <div class="col text-center">
            <a href="{{ path('app_dashboard_company_posting_all') }}" class="px-3 btn btn-dark">{{ 'app_dashboard_company.posting.all'|trans }}</a>
        </div>
    </div>
    <hr>
    <div class="row mt-1 text-dark">
        {% include "components/carousel/_experts.html.twig" with {
            'experts': experts,
            'title': 'app_dashboard_company.talent'|trans,
        } %}
    </div>
    <div class="row mt-2 text-center">
        <div class="col text-center">
            <a href="{{ path('app_dashboard_company_profile') }}" class="px-3 btn btn-dark">{{ 'app_dashboard_company.all_expert'|trans }}</a>
        </div>
    </div>
</div>
{% endblock %}
{% block inner_footer %}{% include "dashboard/_inner_footer.html.twig" %}{% endblock %}
