
<div class="row five-cols">
<div class="col custom-col col-2-25 image-container">
    <img src="{{vich_uploader_asset(this.expert.identity, 'file')}}" class="img-fluid img-border" alt="{{ this.expert.identity.user.firstName }}">
</div>
<div class="col custom-col col-5-25">
    <small class="h6">{{ this.expert.identity.user.firstName }} {{ this.expert.identity.user.lastName|slice(0, 1)|upper }}. <i class="h6 bi mx-2 bi-circle-fill small text-green"></i></small><br>
    <small class="card-text"><i class="mx-1 bi bi-patch-check"></i> {{ 'app_catalog_expert.certificated'|trans }}</small>
</div>
<div class="col custom-col col-5-25">{{ this.expert.title }}</div>
<div class="col custom-col col-5-25">
    <small class="text-dark small">{{ experience_text(this.expert.years) }} d'expérience </small><br>
    <small class="text-dark "><i class="mx-1 bi bi-trophy"></i> {{ this.expert.identity.experiences|length }} {{ 'app_catalog_expert.realised'|trans }}</small>
</div>
<div class="col custom-col col-5-25 small">
    {{ show_country(this.expert.country) }}<br>
    <small class="text-dark small">Télétravail</small>
</div>
<div class="col custom-col col-3-25">
    <div class="flex this.experts-center">
        {% for i in 1..5 %}
            {% if i <= 5 %}
            <i class="small bi bi-star-fill text-warning"></i>
            {% else %}
            <i class="small bi bi-star text-dark"></i>
            {% endif %}
        {% endfor %}    
    </div>
</div>
</div>
<hr>